/* comments for css */
/* ta bort utrymme i body */
body{
    margin: 0;
}

/* footer i botten, alltid */
main {
    flex: 1;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana;
}
/* footer i botten slut */
.my-class{
    color: brown;
}

#my-id{
    color: rgb(21, 228, 6);
}

.two.classes{
    color: blue;
}

header{
    background-color: aqua;
    padding-left: 20px;
}

header h1{
    font-family: Verdana;
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

header nav{
    margin-left: -12px;
}

header nav a{
    display: inline-block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* change cursor */
    cursor: pointer;
}

header nav a:hover {
    color: #FFF;
}
header nav a.active {
    color: #FFFFFF;
}
h1, h2 {
    color: rgb(220, 18, 149);
    font-family: Verdana;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;
}

main {
    padding: 20px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;
}
main h1 {
    margin-top: 20px;
}
p {
    margin: 0;
    margin-bottom: 12px;
}
footer {
    background-color: rgb(98, 201, 198);
    padding: 20px;
    color: #000;
    font-family:Verdaba;
    font-size: 12px;
}
footer p {
    margin: 5px;
    text-align: center;
}
.my-form {
    width: 100%;
}